#healthimage{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fktar.com%2Fstory%2F1456706%2Fvalley-mom-embraces-fitness-lifestyle-works-kids%2F&psig=AOvVaw1TTUJZRfyzyurlWQN8xYKJ&ust=1600444536328000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLi0rObG8OsCFQAAAAAdAAAAABAV");
}
.giphyImg{ width:100;
           height:200;


}
#humorbackground{
   background-image: url(https://www.superspec.com/files/content/solid_seamless/solid_seamless_swatches_PNG/28_snow.png);

}

#background-image{
    background-image: url(./images/super-mom-with-baby-space-silhouette-vector-23537291.jpg);
}

#intro-background{
    background-image: url(https://www.superspec.com/files/content/solid_seamless/solid_seamless_swatches_PNG/28_snow.png);
}

#healthback-ground{
    background-image: url(https://www.superspec.com/files/content/solid_seamless/solid_seamless_swatches_PNG/28_snow.png);
    width: auto;
    height: auto;
}
.w3-image{
    border-radius: 95%;
    
}

#trainingtext{
    color: white;
}


.btn-group{
    text-align: center;
    justify-content: center;
    background-color: grey;
    color: black;
    border: 5px solid grey;
    border-radius: 10px;
}

.card-deck{
    border-radius: 40px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategray;
    color: lightgrey;
    text-align: center;
    font-size: 10px;
  }

  .navbar{
      background-color: #343B40;
  }

