*{
    margin: 0px;
    padding: 0px;
}


#background-image{
    background-image: url(./super-mom-with-baby-space-silhouette-vector-23537291\ \(2\).jpg);
}

.w3-image{
    border-radius: 95%;
    
}

#trainingtext{
    color: white;
}


.btn-group{
    text-align: center;
    justify-content: center;
    background-color: grey;
    color: black;
    border: 5px solid grey;
    border-radius: 10px;
}